[color]
  ui = always
[push]
  default = simple
[alias]
  ci = commit
  co = checkout
  st = status
  logpretty = log --pretty=format:\"%C(yellow)%h %ad%C(reset) %C(auto)| %s%d %C(cyan)[%an]\" --graph --date=short
  diffvim = -c core.pager=/usr/share/nvim/runtime/macros/less.sh diff --no-color
  logvim = -c core.pager=/usr/share/nvim/runtime/macros/less.sh log --no-color
  showvim = -c core.pager=/usr/share/nvim/runtime/macros/less.sh show --no-color
  history = "!f() { git logpretty $@ | fzf --ansi --layout=reverse-list --preview='gitshowcommit --bat {}' --bind='enter:execute(gitshowcommit --vim {})'; }; f"
  history-checkout = "!f() { git logpretty $@ | fzf --ansi --layout=reverse-list --preview='gitshowcommit --bat {}' | grep -o -w -E '[[:alnum:]]+' | head -1 | xargs git checkout; }; f"
  history-pr = history origin/master..
  branch-switch = !git branch | fzf --ansi | xargs git co
  bs = branch-switch
  branch-delete = !git branch | fzf --ansi -m | xargs git branch -d
  bd = branch-delete
  branch-delete-merged = !git branch --no-color | grep -v master | xargs git branch -d
  bdm = branch-delete-merged
  conflicted = !nvim +'packadd conflicted | Conflicted'
[credential]
  helper = gnome-keyring
[core]
  editor = nvim +\"normal $\"
  excludesfile = ~/.gitignore
  # pager = less -XFR -x4
  pager = bat --style=numbers --color=always
[blame]
  date = short
[pull]
  rebase = false
[init]
  defaultBranch = main
[include]
  path = ./.gitconfiguser
  # User config
  # git config -f ~/.gitconfiguser user.email "you@example.com"
  # git config -f ~/.gitconfiguser user.name "Your Name"
