# to track, run `git add -f docker-compose.yml`
#docker-compose.yml
docker-compose.override.yml

# ctags file
tags

# vim session and temporary files
Session.vim
Session.lock
*~

# project-specific .vimrc
.exrc
.nvimrc
.vimrc

# direnv allow per directory rc file
.envrc

# ignores .env by default
.env
.env.local

# asdf verions config
.tool-versions

# codespell config
.codespellrc

# override npm rules per project
.npmrc

# ruby tools
.byebug_history
rakelib

# gradle + kotlin artifacts
kls_database.db

# eclipse / jdtls build files
**/bin/**/*.class
.classpath
.project
.settings

# LLM chat files and configs
.aider*
.claude
