# to track, run `git add -f docker-compose.yml`
#docker-compose.yml
docker-compose.override.yml

# override npm rules per project
.npmrc

# ruby tools
.byebug_history
rakelib

# ctags file
tags

# vim session and temporary files
Session.vim
Session.lock
*~

# direnv allow per directory rc file
.envrc

# project-specific .vimrc
.vimrc
