[submodule "home/user/.oh-my-zsh"]
	path = home/user/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/user/.vim/pack/colors/start/vim-one"]
	path = home/user/.vim/pack/colors/start/one
	url = https://github.com/rakr/vim-one.git
[submodule "home/user/.vim/pack/plugins/start/editorconfig"]
	path = home/user/.vim/pack/plugins/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "home/user/.vim/pack/plugins/start/tcomment"]
	path = home/user/.vim/pack/plugins/start/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "home/user/.vim/pack/plugins/opt/tmuxline"]
	path = home/user/.vim/pack/plugins/opt/tmuxline
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "home/user/.vim/pack/plugins/opt/vim-fugitive"]
	path = home/user/.vim/pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/user/.vim/pack/plugins/opt/vim-conflicted"]
	path = home/user/.vim/pack/plugins/opt/conflicted
	url = https://github.com/christoomey/vim-conflicted.git
[submodule "home/user/.vim/pack/plugins/start/lightline"]
	path = home/user/.vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "home/user/.vim/pack/plugins/start/eunuch"]
	path = home/user/.vim/pack/plugins/start/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "home/user/.vim/pack/plugins/start/rhubarb"]
	path = home/user/.vim/pack/plugins/start/rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "home/user/.vim/pack/plugins/start/interestingwords"]
	path = home/user/.vim/pack/plugins/start/interestingwords
	url = https://github.com/lfv89/vim-interestingwords.git
[submodule "home/user/.vim/pack/plugins/start/signature"]
	path = home/user/.vim/pack/plugins/start/signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "home/user/.vim/pack/plugins/start/lightline-bufferline"]
	path = home/user/.vim/pack/plugins/start/lightline-bufferline
	url = https://github.com/mengelbrecht/lightline-bufferline.git
[submodule "home/user/.vim/pack/plugins/start/fzf"]
	path = home/user/.vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "home/user/.vim/pack/plugins/start/indentline"]
	path = home/user/.vim/pack/plugins/start/indentline
	url = https://github.com/Yggdroot/indentLine.git
[submodule "home/user/.vim/pack/plugins/opt/markdown-toc"]
	path = home/user/.vim/pack/plugins/opt/markdown-toc
	url = https://github.com/ajorgensen/vim-markdown-toc.git
[submodule "home/user/.vim/pack/plugins/start/emmet"]
	path = home/user/.vim/pack/plugins/start/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "home/user/.vim/pack/plugins/start/lspconfig"]
	path = home/user/.config/nvim/pack/plugins/start/lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "home/user/.config/nvim/pack/plugins/start/web-devicons"]
	path = home/user/.config/nvim/pack/plugins/start/web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons.git
[submodule "home/user/.config/nvim/pack/plugins/start/tree"]
	path = home/user/.config/nvim/pack/plugins/start/tree
	url = https://github.com/kyazdani42/nvim-tree.lua.git
[submodule "home/user/.config/nvim/pack/plugins/start/null-ls"]
	path = home/user/.config/nvim/pack/plugins/start/null-ls
	url = https://github.com/jose-elias-alvarez/null-ls.nvim.git
[submodule "home/user/.config/nvim/pack/modules/start/plenary"]
	path = home/user/.config/nvim/pack/modules/start/plenary
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "home/user/.config/nvim/pack/plugins/start/treesitter"]
	path = home/user/.config/nvim/pack/syntax/start/treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "home/user/.config/nvim/pack/plugins/start/lua-snip"]
	path = home/user/.config/nvim/pack/plugins/start/lua-snip
	url = https://github.com/L3MON4D3/LuaSnip.git
[submodule "home/user/.config/nvim/pack/snippets/start/friendly-snippets"]
	path = home/user/.config/nvim/pack/snippets/start/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets.git
