[submodule "home/user/.oh-my-zsh"]
	path = home/user/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/user/.vim/pack/plugins/start/editorconfig"]
	path = home/user/.vim/pack/plugins/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "home/user/.vim/pack/plugins/start/tcomment"]
	path = home/user/.vim/pack/plugins/start/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "home/user/.vim/pack/plugins/opt/vim-fugitive"]
	path = home/user/.vim/pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/user/.vim/pack/plugins/opt/vim-conflicted"]
	path = home/user/.vim/pack/plugins/opt/conflicted
	url = https://github.com/christoomey/vim-conflicted.git
[submodule "home/user/.vim/pack/plugins/start/lightline"]
	path = home/user/.vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "home/user/.vim/pack/plugins/start/eunuch"]
	path = home/user/.vim/pack/plugins/start/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "home/user/.vim/pack/plugins/start/rhubarb"]
	path = home/user/.vim/pack/plugins/start/rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "home/user/.vim/pack/plugins/start/interestingwords"]
	path = home/user/.vim/pack/plugins/start/interestingwords
	url = https://github.com/lfv89/vim-interestingwords.git
[submodule "home/user/.vim/pack/plugins/start/signature"]
	path = home/user/.vim/pack/plugins/start/signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "home/user/.vim/pack/plugins/start/lightline-bufferline"]
	path = home/user/.vim/pack/plugins/start/lightline-bufferline
	url = https://github.com/mengelbrecht/lightline-bufferline.git
[submodule "home/user/.vim/pack/plugins/start/indentline"]
	path = home/user/.vim/pack/plugins/start/indentline
	url = https://github.com/Yggdroot/indentLine.git
[submodule "home/user/.vim/pack/plugins/opt/markdown-toc"]
	path = home/user/.vim/pack/plugins/opt/markdown-toc
	url = https://github.com/ajorgensen/vim-markdown-toc.git
[submodule "home/user/.vim/pack/plugins/start/emmet"]
	path = home/user/.vim/pack/plugins/start/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "home/user/.vim/pack/plugins/start/lspconfig"]
	path = home/user/.config/nvim/pack/plugins/start/lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "home/user/.config/nvim/pack/plugins/start/web-devicons"]
	path = home/user/.config/nvim/pack/plugins/start/web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons.git
[submodule "home/user/.config/nvim/pack/plugins/start/tree"]
	path = home/user/.config/nvim/pack/plugins/start/tree
	url = https://github.com/kyazdani42/nvim-tree.lua.git
[submodule "home/user/.config/nvim/pack/modules/start/plenary"]
	path = home/user/.config/nvim/pack/modules/start/plenary
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "home/user/.config/nvim/pack/plugins/start/treesitter"]
	path = home/user/.config/nvim/pack/syntax/start/treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "home/user/.config/base16-shell"]
	path = home/user/.config/base16-shell
	url = https://github.com/tinted-theming/base16-shell.git
[submodule "home/user/.vim/pack/colors/opt/base16"]
	path = home/user/.vim/pack/colors/opt/base16
	url = https://github.com/tinted-theming/base16-vim.git
[submodule "home/user/.config/base16-fzf"]
	path = home/user/.config/base16-fzf
	url = https://github.com/tinted-theming/base16-fzf.git
[submodule "home/user/.vim/pack/colors/start/base16-lightline"]
	path = home/user/.vim/pack/colors/start/base16-lightline
	url = https://github.com/daviesjamie/vim-base16-lightline.git
[submodule "home/user/.tmux/plugins/base16-tmux"]
	path = home/user/.tmux/plugins/base16-tmux
	url = https://github.com/tinted-theming/base16-tmux.git
[submodule "home/user/.config/nvim/pack/completion/start/cmp-nvim-lsp"]
	path = home/user/.config/nvim/pack/completion/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "home/user/.config/nvim/pack/completion/start/cmp-buffer"]
	path = home/user/.config/nvim/pack/completion/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "home/user/.config/nvim/pack/completion/start/cmp-path"]
	path = home/user/.config/nvim/pack/completion/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "home/user/.config/nvim/pack/completion/start/cmp-cmdline"]
	path = home/user/.config/nvim/pack/completion/start/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline
[submodule "home/user/.config/nvim/pack/completion/start/nvim-cmp"]
	path = home/user/.config/nvim/pack/completion/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "home/user/.config/nvim/pack/completion/start/luasnip"]
	path = home/user/.config/nvim/pack/completion/start/luasnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "home/user/.config/nvim/pack/completion/start/cmp-luasnip"]
	path = home/user/.config/nvim/pack/completion/start/cmp-luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip
[submodule "home/user/.config/nvim/pack/github/start/copilot.lua"]
	path = home/user/.config/nvim/pack/github/start/copilot.lua
	url = https://github.com/zbirenbaum/copilot.lua
[submodule "home/user/.config/nvim/pack/completion/start/copilot-cmp"]
	path = home/user/.config/nvim/pack/completion/start/copilot-cmp
	url = https://github.com/zbirenbaum/copilot-cmp
[submodule "home/user/.config/nvim/pack/completion/start/lspkind"]
	path = home/user/.config/nvim/pack/completion/start/lspkind
	url = https://github.com/onsails/lspkind.nvim
[submodule "home/user/.config/nvim/pack/completion/opt/friendly-snippets"]
	path = home/user/.config/nvim/pack/completion/start/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets.git
[submodule "home/user/.vim/pack/plugins/start/fzf"]
	path = home/user/.vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "home/user/.vim/pack/plugins/start/fzf.vim"]
	path = home/user/.vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "home/user/.config/nvim/pack/plugins/start/mason"]
	path = home/user/.config/nvim/pack/plugins/start/mason
	url = https://github.com/williamboman/mason.nvim.git
[submodule "home/user/.config/nvim/pack/plugins/start/mason-lspconfig"]
	path = home/user/.config/nvim/pack/plugins/start/mason-lspconfig
	url = https://github.com/williamboman/mason-lspconfig.nvim.git
[submodule "home/user/.config/nvim/pack/github/start/copilot-chat"]
	path = home/user/.config/nvim/pack/github/start/copilot-chat
	url = https://github.com/CopilotC-Nvim/CopilotChat.nvim.git
[submodule "home/user/.vim/pack/plugins/start/test"]
	path = home/user/.vim/pack/plugins/start/test
	url = https://github.com/vim-test/vim-test.git
[submodule "home/user/.config/nvim/pack/plugins/start/none-ls"]
	path = home/user/.config/nvim/pack/plugins/start/none-ls
	url = https://github.com/nvimtools/none-ls.nvim.git
[submodule "home/user/.config/nvim/pack/plugins/start/hover"]
	path = home/user/.config/nvim/pack/plugins/start/hover
	url = https://github.com/lewis6991/hover.nvim.git
[submodule "home/user/.config/nvim/pack/plugins/start/lspconfig-bundler"]
	path = home/user/.config/nvim/pack/plugins/start/lspconfig-bundler
	url = https://github.com/mihyaeru21/nvim-lspconfig-bundler.git
