[submodule "home/user/.oh-my-zsh"]
	path = home/user/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/user/.vim/pack/colors/start/vim-one"]
	path = home/user/.vim/pack/colors/start/one
	url = https://github.com/rakr/vim-one.git
[submodule "home/user/.vim/pack/plugins/start/editorconfig"]
	path = home/user/.vim/pack/plugins/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "home/user/.vim/pack/plugins/start/ctrlp"]
	path = home/user/.vim/pack/plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "home/user/.vim/pack/plugins/start/nerdtree"]
	path = home/user/.vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/user/.vim/pack/plugins/start/nerdtree-git-plugin"]
	path = home/user/.vim/pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "home/user/.vim/pack/plugins/start/tcomment"]
	path = home/user/.vim/pack/plugins/start/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "home/user/.vim/pack/plugins/start/syntastic"]
	path = home/user/.vim/pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "home/user/.vim/pack/plugins/opt/tmuxline"]
	path = home/user/.vim/pack/plugins/opt/tmuxline
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "home/user/.vim/pack/plugins/opt/vim-fugitive"]
	path = home/user/.vim/pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/user/.vim/pack/plugins/opt/vim-conflicted"]
	path = home/user/.vim/pack/plugins/opt/conflicted
	url = https://github.com/christoomey/vim-conflicted.git
[submodule "home/user/.vim/pack/syntax/opt/elixir"]
	path = home/user/.vim/pack/syntax/opt/elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "home/user/.vim/pack/plugins/lightline"]
	path = home/user/.vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "home/user/.vim/pack/plugins/start/eunuch"]
	path = home/user/.vim/pack/plugins/start/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "home/user/.vim/pack/plugins/start/rhubarb"]
	path = home/user/.vim/pack/plugins/start/rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "home/user/.vim/pack/plugins/start/interestingwords"]
	path = home/user/.vim/pack/plugins/start/interestingwords
	url = https://github.com/lfv89/vim-interestingwords.git
[submodule "home/user/.vim/pack/plugins/start/signature"]
	path = home/user/.vim/pack/plugins/start/signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "home/user/.vim/pack/plugins/start/lightline-bufferline"]
	path = home/user/.vim/pack/plugins/start/lightline-bufferline
	url = https://github.com/mengelbrecht/lightline-bufferline.git
[submodule "home/user/.vim/pack/syntax/opt/coffee-script"]
	path = home/user/.vim/pack/syntax/opt/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
