[color]
	ui = always
[push]
	default = simple
[alias]
	ci = commit
	co = checkout
	st = status
	history = log --pretty=format:\"%C(yellow)%h %ad%C(reset) %C(auto)| %s%d %C(cyan)[%an]\" --graph --date=short
	pr-history = !git log --pretty=format:\"%C(yellow)%h %ad%C(reset) %C(auto)| %s%d %C(cyan)[%an]\" --date=short origin/master..$1
[credential]
	helper = gnome-keyring
[core]
	editor = vim
	excludesfile = ~/.gitignore
	pager = less -XFR
[blame]
	date = short
